div.w-full.h-screen.flex.justify-center.items-center
  form(action="submit").p-4.bg-green-300.flex.flex-col
    input(type="text", name="username").mb-2
    input(type="text", name="password").mb-2
    input(type="text", name="repeat password").mb-2
    input(type="submit", value="register")