div.w-full.h-screen.flex.justify-center.items-center
  div.p-4.bg-green-300.flex.flex-col
    form(action="submit") 
      input(type="text", name="user name").mb-2
      input(type="text", name="password").mb-2
      input(type="text", name="repeat password").mb-2
      input(type="submit", value="register")