div.bg-yellow-200.h-14.flex.items-center.justify-center
  div.w-full.max-w-screen-lg.px-4.flex.items-center.justify-between
    div.h-8.overflow-hidden
      img(src="https://duckduckgo.com/assets/common/dax-logo.svg", alt="").max-h-full
    div 
      a(routerLink="/") 
        |Home
      a(routerLink="/login").pl-4 
        |Login
      a(routerLink="/register").pl-4
        |register