div.h-14.flex.items-center.justify-center.shadow-md
  div.w-full.max-w-screen-lg.px-4.flex.items-center.justify-between
    div.h-8.overflow-hidden
      img(src="assets/Subtract.svg", alt="").max-h-full.text-black
    div 
      a(routerLink="/") 
        |Home
      a(routerLink="/login").pl-4 
        |Login
      a(routerLink="/register").pl-4
        |register