div.w-full
  div.m-auto
    button((click)="addOne()").bg-green-300
      |add one
    input(type="text" value="{{myNumber}}").bg-yellow-300
    button((click)="removeOne()").bg-red-300
      |remove one
  div.m-auto
    div(*ngIf="!visible") 
      |Now you see me 
    button((click)="toggleVisible()") 
      |click me