$text: 1rem;
$text-smaller: 0.75rem;
$text-small: 0.625rem;
$header: 2.5rem;
$header-smaller: 1.8rem;
$header-small: 1rem;
$max-width: 1080px;

$gutter-small: 4px;
$gutter-smaller: 8px;
$gutter: 16px;
$gutter2x: 32px;
$gutter3x: 48px;
$gutter4x: 64px;

$prime-color: #fe6c6c;
$dark-color: #272727;
$light-color: #fff;



$btn-color: $prime-color;
$disabled-btn-color: #808080;
$sub-container: rgba(149, 192, 216, 0.1);

$border: 1px solid rgba(102, 125, 137, 0.5);